<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.uas.gsiam.ui" android:versionCode="1" android:versionName="1.0"
	android:installLocation="auto">

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>

	<application android:icon="@drawable/logo" android:label="@string/app_name"
		android:debuggable="true" android:name="com.uas.gsiam.utils.ApplicationController"
		android:theme="@style/Theme.Mytheme">

		<uses-library android:name="com.google.android.maps" />
		<activity android:name="LoginActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>

		<activity android:name="MainActivity" />
		<activity android:launchMode="singleTop" android:name="SitiosActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		<activity android:name="PerfilActivity" />
		<activity android:name="EditarUsuarioActivity" />
		<activity android:name="CrearUsuarioActivity" />
		<activity android:name="SitioDetalleActivity" />
		<activity android:name="CrearSitioActivity" />
		<activity android:name="MostrarMapaActivity" />
		<activity android:name="PublicarActivity" />
		<activity android:name="ModificarSitioActivity" />
		<activity android:name="AmigosTabActivity" />
		<activity android:name="AmigosTabActivity2" />
		<activity android:name="MisAmigosActivity" />
		<activity android:name="AgregarAmigosActivity" />
		<activity android:name="InvitarAmigosActivity" />
		<activity android:name="SolicitudesActivity" />
		<activity android:name="VisorImagenes" />
		<activity android:name="Preferencias"/>
		<activity android:name="SitioTabActivity"/>
		
		
		<service android:name="com.uas.gsiam.servicios.LoginServicio" />
		<service android:name="com.uas.gsiam.servicios.CrearUsuarioServicio" />
		<service android:name="com.uas.gsiam.servicios.EditarUsuarioServicio" />
		<service android:name="com.uas.gsiam.servicios.SitioServicio" />
		<service android:name="com.uas.gsiam.servicios.CrearSitioServicio" />
		<service android:name="com.uas.gsiam.servicios.PublicarServicio" />
		<service android:name="com.uas.gsiam.servicios.EliminarSitioServicio" />
		<service android:name="com.uas.gsiam.servicios.GetAmigosServicio" />
		<service android:name="com.uas.gsiam.servicios.GetUsuariosServicio" />
		<service android:name="com.uas.gsiam.servicios.ModificarSitioServicio" />
		<service android:name="com.uas.gsiam.servicios.CrearSolicitudAmistadServicio" />
		<service android:name="com.uas.gsiam.servicios.ResponderSolicitudServicio" />
		<service android:name="com.uas.gsiam.servicios.GetSolicitudesPendientesServicio" />
		<service android:name="com.uas.gsiam.servicios.EnviarInvitacionServicio" />
		<service android:name="com.uas.gsiam.servicios.UbicacionServicio" />
		

	</application>
</manifest>