<html> 
<body> 
<p>Hola, ${p_nombre_aprobador}</p><br> 
<p>${p_nombre_solicitante} te ha agregado como amigo/a en GSIAM. Es necesario que confirmes la amistad.</p> 
<br>
<p>Para poder confirmar la amistad solo tienes que ingresar al sistema</p> 
<br>
<br>
<p>
Gracias,<br>
El equipo de <b>GSIAM</b>
</p>	

</body> 
</html>